body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
  margin: 20px 0;
}

.selected-items {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}

.list-bordered {
  border-bottom: 10px solid #f4f4f4;
}
